config pegasocks settings
    option name "general socks proxy settings"
    option enable_tp '0'
    option tp_fwd_tcp_ports "80 443"
    option tp_fwd_udp_ports "443"
    option treads_count "4"
    option port "1080"
    option log_l "4"
    option crt "/etc/pegasocks/client.crt"
    option ssl_verify "false"
    option dns "192.168.1.1 8.8.8.8"
    option ping_i "120"

config pegasocks_server
    option name "trojan-gfw example"
    option proto "trojan"
    option host "vpn.server.net"
    option port "443"
    option pass "a1111-b222-c333-aabbd"

config pegasocks_server
    option name "trojan-go example"
    option proto "trojan"
    option host "vpn.server.net"
    option port "443"
    option pass "secretpass"
    option ws_path "/ray"
    option ws_host "vpn.server.net"

config pegasocks_server
    option name "v2ray + tls + websocket example"
    option proto "v2ray"
    option host "vpn.server.net"
    option port "443"
    option pass "a1111-b222-c333-aabbd"
    option sni "ray.server.net"
    option ws_path "/ray"
    option ws_host "vpn.server.net"

config pegasocks_server
    option name "v2ray + tcp example"
    option proto "v2ray"
    option host "vpn.server.net"
    option port "443"
    option pass "a1111-b222-c333-aabbd"
    option enc "aes-128-gcm"

config pegasocks_server
    option name "shadowsocks example"
    option proto "shadowsocks"
    option host "vpn.server.net"
    option port "443"
    option pass "secretpass"
    option enc "chacha20-poly1305"
